.pb-robot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pb-robot .pb-robot-btns {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.pb-robot-btns .pb-robot-btn {
  flex-grow: 1;
  margin: 1em;
  border-radius: 0;
  background-color:white;
  border:1px solid #d2cfcf;
  color:#333;
  padding: 1em;
  cursor:pointer;
  transition:all 0.3s;
  text-align: center;
}

.pb-robot-btns .pb-robot-btn:hover{
  background-color:#ebfff9;
  border:1px solid #148e69;
  text-decoration: none;
}

.pb-robot-btns .pb-robot-btn i{
  margin-right:1em;
}
